/* Reset / Normalizing CSS */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    color: white;
    background-color: rgb(32, 31, 31);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
    appearance: none;
}

/* Layout styling */
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 0.5fr 0.5fr 4fr;

  grid-template-areas: 
  "header"
  "submit"
  "cards";
}

.cards-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vw / 4), 1fr));
  justify-items: center;
}

.book-card, .book-card > section:has(button){
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  border: 1px solid red;
  width: fit-content;
  height: fit-content;
}

header,
.add-book-container {
  text-align: center;
}

